                                        /* haut de la page */
body
{
    
    max-width:1500px;
    margin: 0px;
   
    font-family : 'Raleway', sans-serif ;
}
#bloc_page
{
    margin-top: 4px;
    margin-left: 20px;
    margin-right: 20px;
}
a
{  width: 30%;
    text-decoration: none;
    color: black;
}
                                        /* En-tête */
.bloc_en_tete
{
    display: flex;
    justify-content: space-between;
}
#logo
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#logo img
{
    height: 60px;
}


                                    /* navigation */
.navigation
{
    display: flex;
    align-items: baseline;
}
.nav1
{
padding-top: 30px;
text-decoration: none;
color: black;
margin-top: 30px;
margin-right: 50px;
}
.nav1:hover
{
    border-top: 2px solid #0065fc;
    text-decoration: none;
    color: #0065fc;
    
}
.nav2
{
    color: #0065fc;
    display: flex;
    list-style-type: none;
    margin-top: 30px;
    padding-right: 20px;
    font-size: large;
}
nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    font-size: large;
    margin-top: 30px;
} 
                                        /* Titre */
h1
{   
    font-size: 1.3em;
    margin-bottom: 5px;
}

                                    /* Barre de recherche */

.bloc_barre_de_recherche
{
    margin-top:25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
   align-items: center;
}
label
{
    padding: 15px 15px 15px 15px;
    background-color: #f2f2f2;
    border-radius: 1em 0 0 1em;
}
input 
{
    border: none;
    font-weight: 700;
    font-size: large;
    margin-left: 15px;
    margin-right: 5px;
}
::placeholder
{
    color: black;
}

#boutton_rechercher
{
    font-size: 1.2em;
    background-color: #0065fc;
    color: white;
    width: 153px;
    height: 50px;
    border: 1px solid #f2f2f2;
    border-radius: 0px 15px 15px 0px ;
}
.icone_recherche
{
    display: none;
}

                                  /* Fitres */
 .conteneur_filtres
{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 1.1em;
}
h2
{   font-size: 1.2em;
    margin-right: 10px;
    margin-left: 10px;
}
.bloc_filtres :hover
{
    color:#0065fc;
    background-color: #DEEBFF;
}

.bloc_filtres
{
   display: flex;
   align-items: center;
   flex-direction: row;
   margin-right: 10px;
   background-color: white;
   flex-wrap: wrap;
}
.cadre_filtre
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #f2f2f2;
    border-radius: 27px 27px 27px 27px;
    margin-right: 30px;
    margin-left: 10px;
    padding-right: 15px;
    margin-bottom: 10px;
}
.icones_filtres
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background: #DEEBFF;
    color: #0065fc;
}
.filtre_texte
{   
    display: flex;  
   align-items: center;
    color: black;
    margin-left: 4px;
}


                                    /* Texte plus icone info */

.info 
{
    display: flex;
    align-items: center;
}
.info_icone
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px 25px 25px 25px;
    margin-right: 5px;
    padding: 2px;
    color:#0065fc;
}
                            /*Conteneur hebergement et populaire */
.conteneur_block
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.star
{
    color: #0065fc;
    font-size:x-small;
    margin: 5px 5px 5px 5px;
    padding-bottom: 2px;
  
}
 .star_white
{
    color: #f2f2f2;
}
                                    /* Hébergements à Marseille */
.conteneur_block_hebergements
{
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 63%;
    height: auto;
    margin-top:10px;
    margin-right: 10px;
    padding-top: 20px; 
}
.titre_hebergement
{
    margin-left: 45px;
    width: 50%;
    margin-top: 10px;
    display: inline-block;
    font-size: 1.3em;
}
.hebergement_contener
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    margin: 20px;
    font-size: 0,5em;
}
.hebergement_contener article
{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    border-radius: 15px 15px 15px 15px;
    height: auto;
    border: 3px solid white;
    background-color: white;
    margin: 10px;
}
.hebergement_contener img
{
    justify-content: center;
   
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 110px;
    object-fit: cover;
    
}
.heberg_texte
{   
    margin-top: -10px;
    padding-left: 20px;
    font-size: 0.9em;
    width: 100%;
}
.heberg_texte p
{
    margin-top: -15px;
}
.conteneur_block_hebergements p 
{
    margin-bottom: 0px
}
.afficher_plus
{
    margin-top: 1px;
    margin-bottom: 40px;
    font-weight: bold;
    margin-left: 50px;
    display: flex;
    align-self: flex-end;
    font-weight: bold;
    text-decoration: none;
    color: black;
}



                                         /*les plus populaires */

.populaire_contener
{
    margin-top: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
   
}
.titre_populaires
{
    flex-direction: row;
    display:flex;
    justify-content: space-between;
    align-items: center;
   width: 80%;
    margin-top: 10px;
    font-size: large;
}
.icones_populaires
{   
    width: 20px;
    font-size: x-large;
}
.les_plus_populaires
{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
    margin-top: 20px;
    padding-top: 20px;
   margin: 20px;
   
}
.les_plus_populaires article
{
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: row;
    width: 345px;
    height: 140px;
    border: 3px solid white;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 15px 20px 20px #f2f2f2;
 
}

.les_plus_populaires img
{
   
    border-radius: 15px 0px 0px 15px;
    width: 130px;
    
    object-fit: cover;
   
}
.texte_populaires 
{
    width: 50%;
   margin-left: 15px;
    
}
.texte_populaires p
{
    margin-top: -10px;
    padding-bottom: 10px;
}

                                        /* activité à marseille */

h4
{
   margin-left: 20px;
   padding-top: 50px;
   font-size: x-large;
}

.conteneur_activites
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 10px 10px 10px 10px ;
}


.cadre 
{  
   
    border: 1px solid #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    box-shadow: 10px 10px 10px #f2f2f2;
    margin-bottom: 30px;
    width: 100%;
}
.cadre2
{
    border: 1px solid #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
     box-shadow: 5px 5px 5px #f2f2f2;
     margin-bottom: 30px;
     width: 100%;
}
.block_cadre, .block_cadre2
{
    width: 22%;
}
.cadre img
{   
    object-fit: cover;
}

h5
{   
    font-size: 0.9em;
    white-space: pre;
    margin: 5px 5px 5px 15px ;
}                
.act1 
{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 447px;
    object-fit: cover;
}
.act2 
{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height:230px;
    object-fit: cover;
    
}
.act3
{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    
}
.act4
{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 447px;
    object-fit: cover;
}
.act5
{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 150px;
   object-fit: cover;
}
.act6
{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 230px;
   object-fit: cover;
}


                        /* pied de page*/

footer
{
   
    font-size: larger;
    background-color: #f2f2f2;
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    justify-content: space-around;
    
    
}
h4
{
    margin-left: 0px;
    width: 90%;
    font-size: 18px;
   
}
footer ul{
    padding-left: 0px;
}
footer li{
    list-style-type:none;
    margin-bottom: 10px;
}

footer div
{
    margin-right: 150px;
    width: auto;
   
    margin-left: 20px;
}


                                     /* media queries*/


@media screen and (max-width: 1340px) and (min-width: 1023px)
 {
  .conteneur_activites{
      flex-wrap: nowrap;
      justify-content: center;
  }
  .block_cadre, .block_cadre2{
     margin-right: 10px;
    }
    .heberg_texte {
        text-align: left;
        height: 100px;
        margin-top: 0px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
        align-self: center;
        }
        .heberg_texte p {
            display: flex;
            
            }
            .heberg_texte h3 {
                margin-top: 5px;
                height: 30px;
                }
}

@media screen and (max-width: 1024px) 
{
    .conteneur_block_hebergements{
        width: 100%;
        justify-content: flex-start;
        margin-right: 0px;
    }
    .hebergement_contener article{
        font-size: 1em;
        justify-content: flex-start;
        }
    .hebergement_contener{
        justify-content: center;
        width: 100%;
        
    }
   .conteneur_block{
       flex-wrap: wrap;
   }
   .les_plus_populaires article{
       align-self: flex-end;
       height: auto;
       width: auto;
       margin-right: 20px;
        flex-direction: column;
   }
   .populaire_contener{
       justify-content: center;
       justify-content: space-around;
       width: 100%;
    }
   .les_plus_populaires{
       align-items: flex-start;
       flex-direction: row;
       
       padding-left: 15px;
       padding-right: 15px;
       padding-bottom: 20px;
       margin-top: -10px;
       justify-content: center;
      
   }
   .titre_populaires{
       width: 90%;
   }
   .les_plus_populaires img{
       width: 100%;
       height: 100px;
       border-radius: 15px 15px 0px 0px;
   }
   .texte_populaires{
       width: 80%;
       justify-content: flex-start;
   }
   .texte_populaires p{
       margin-bottom: -10px;
   }
    .cadre_filtre{
       margin-right: 10px;
   }
       
  .block_cadre, .block_cadre2{
      width: 45%;
  }
   
   .conteneur_activites{
       justify-content: space-around;
       margin-right: 20px;
   }
  footer div{
   margin-right: 100px;
  }
  footer{
     
     height: auto;
  } 
}

@media screen and (max-width:947px)
 {
    .texte_populaires{
       width: 90%;
       justify-content: flex-start;
    }
    .conteneur_filtres{
        display: block;
}
}

@media screen and (max-width:886px) 
{   
    .les_plus_populaires{
        padding-right: 0px;
        padding-left: 0px;
    }
    .texte_populaires{
        width: 90%;
    }
    
    
    .hebergement_contener h3{
        width: 100px;
    }
}

@media  screen and (max-width: 770px)
{
    #boutton_rechercher{
        width: 130px;
    }
    input{
        width: 75%;
    }
   .conteneur_filtres{
       display: block;
       font-size: 1.0em;
   }
   .cadre_filtre{
       margin-right: 16px;
       margin-left: 0px;
       padding-right: 5px;
   }
   .les_plus_populaires{
       padding-right: 0px;
       padding-left: 0px;
   }
   .texte_populaires{
       width: 100%;
   }
   .conteneur_activites{
      
       padding: 0px;
   }
   .act1, .act2, .act3, .act4, .act5, .act6{
       width: 100%;
       height: 200px;
   }
   .cadre2 , .cadre{
      width: auto;
      height: 250px; 
   }
   article.block_cadre {
    display: contents;
    }
    article.block_cadre2 {
        display: contents;
    }
    footer{
        flex-direction: column;
    padding-left: 20px;
    }

}

@media screen and (max-width:770px) 
{
    .hebergement_contener article{
        width: 250px;
    }
    a{
        width: auto ;
    }
    .conteneur_activites a {
        width: 100%;
    }
    .hebergement_contener{
        margin: 0px;
    }
    .les_plus_populaires article{
        width: 100%;
        height: 130px;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .les_plus_populaires img{
        border-radius: 15px 0px 0px 15px;
        height: 100%;
    }
    .les_plus_populaires{
        padding-left: 15px;
        padding-right: 15px;
        display: block;
        width: 80%;
    }
    .texte_populaires{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .texte_populaires h3{
        margin-top: 5px;
        height: 35%;
        width: 200px;
    }
    input{
        width: 200px;
    }
}

@media screen and (max-width: 650px)
 {
   .bloc_filtres{
       flex-wrap: wrap;
   }
    nav ul{
        flex-wrap: nowrap;
        justify-content: center;
        padding-left: 0px;
        margin-top: 0px;
        
       
    }
    nav li {
        margin-top: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    }
    .navigation{
        display: flex;
    align-items: baseline;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    width: 100%;
    }
    #logo{
        display: flex;
        align-items: flex-start;
        position: absolute;
        
    }
    .bloc_en_tete{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    nav li:hover{
        border-bottom: 3px solid #0065fc;
        text-decoration: none;
        border-top: none;
    }
    .nav1:hover{
        border-top: none;
    }  
    body{
        min-width: 419px;
    } 
  
    
}

@media screen and (max-width:375px)
{   
    .act1, .act2, .act3, .act4, .act5, .act6{
       
        height: 130px;
    }
    .cadre, .cadre2{
        height: auto;
    }
    .conteneur_activites h5{
        margin: 5px 5px 15px 15px;
    }
    .conteneur_activites{
        display: block;
        margin: 10px;
        width: auto;
    } 
    .conteneur_block{
        flex-direction: column-reverse;
    }
    .titre_hebergement{
        width: 100%;
        margin-left: 15px;
    }
   
    .hebergement_contener{
        display: flex;
        flex-direction: column;
    }
    .hebergement_contener article{
        box-shadow: 10px 10px 10px #f2f2f2;
        width: 92%;
    }
    .hebergement_contener h3{
        width: 100%;
        margin: 15px 0px 20px 0px;
    }
    .les_plus_populaires{
         display: block;
         padding-left: 0px;
         padding-right: 0px;
         margin: 0px;
         width: 90%;
    }
    .titre_populaires{
        width: 90%;
        margin-left: 15px;
        margin-right: 15px;
    }
    .les_plus_populaires article{
        flex-direction: row;
        height: 140px;
        min-width: 236px;
        margin-right: 0px;
        width: auto;
    }
    .les_plus_populaires img{
      
       width: 40%;
       height: 100%;
        border-radius: 15px 0px 0px 15px;
    }
    .texte_populaires{
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        width: 190px;
    }
    .texte_populaires h3{
        margin: 10px 5px 0px 0px;
    }
    .texte_populaires p{
        margin-top: 0px;
        padding-bottom: 25px;
        margin-bottom: 0px;
    }
    .conteneur_block_hebergements{
        background-color: white;
    }
    .cadre_filtre{
        margin-bottom: 10px;
    }
    .icone_recherche{
        display: flex;
        
        width: 80px;
        height: 48px;
        background-color: #0065fc;
        color: white;
        border-radius: 20px 20px 20px 20px ;
        align-items: center;
        justify-content: center;
    }

    #boutton_rechercher{
        display: none;
    }
    .bloc_barre_de_recherche
    {
        border-top:  1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
       margin: 15px;
        border-radius: 21px;
    }
    .conteneur_filtres{
        margin: 15px;
    }
    .info_icone{
      width: 25px;
      margin-left: 15px;
    }
   
    nav ul{
        flex-wrap: nowrap;
        justify-content: center;
        padding-left: 0px;
        margin-top: 0px;
        
       
    }
    nav li {
        margin-top: 0px;
    margin-right: 0px;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    }
    .navigation{
        display: flex;
    align-items: baseline;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    width: 100%;
    }
    #logo{
        display: flex;
        align-items: flex-start;
        position: absolute;
        margin: 15px;
        
    }
    .bloc_en_tete{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    nav li:hover{
        border-bottom: 3px solid #0065fc;
        text-decoration: none;
        border-top: none;
    }
    .nav1:hover{
        border-top: none;
    }
    .nav1{
        margin-right: 0px;
    }
    .afficher_plus{
        margin-top: 30px;
        margin-bottom: 0px;
        margin-left: 20px;
    }
    #bloc_page{
        margin-left: 0px;
        margin-right: 0px;
    }
    h4 {
        padding-top: 25px;
        margin-left: 15px;
    }
    footer{
        padding-left: 10px;
        padding-bottom: 50px;
    }
    footer h4{
        margin-left: 0px;
    }
    #logo img{
        width: 100px;
        height: 35px;
    }
    h1{
        margin: 15px;
        width: 80%;
    }
    span{
        margin-left: 15px;
    }
    body{
        min-width: 250px
    }
    input {
        width: 75%;
    }
}

   