                            /* haut de la page */
#bloc_page
{
    
    width:auto;
    height: auto;
    margin: 10px 10px 10px 10px;
   

}

body
{
    font-family : 'Raleway', sans-serif ;
}
#logo
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



#logo img

{

    
    height: 60px;
    }

    h1
    {
        margin-bottom: -10px;
    }
                            /* Navigation */





nav ul
{
   
    list-style-type: none;
    
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-content: center;
    font-size: large;
    color: chartreuse;
    
   
} 


nav li 
{
   margin-top: 30px;
 margin-right: 50px;
 
} 

.nav1
{
    text-decoration:overline;
    color: #0065fc;
    
    
}


                            /* Barre de recherche */

::placeholder
{
    color: black;
}


.barre_de_recherche
{
    margin-top:25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    height: 50px;
    
}  
label
{
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 15px;
    justify-content: space-around;
    
   background-color: #f2f2f2;
    
    border-radius: 1em 0 0 1em;

    
}


#Rechercher
{
   
    font-size: 1.2em;
    background-color: blue;
    color: white;
    width: 153px;
    height: 50px;
    border: 1px solid #f2f2f2;
    border-radius: 0px 15px 15px 0px ;
    margin:0px 0px -5px 0px;
    
 
    

 
}
input 
{
   
 border: none;
 font-weight: 700;
 
 font-size: large;
   
}  
#rechercher 
{
    border: 1px solid #f2f2f2;
    
    
}

                            /* Fitres */


h2
{
    margin-right: 10px;
    margin-left: 10px;
}




.filtrage
{
   display: flex;
   justify-content: flex-start;
   font-weight: bold;
   font-size: 1.1em;
   
  
 
  
 
}
.filtres1
{
   display: flex;
   align-items: center;
   width: 100%;
   
  
   margin-right: 10px;
   background-color: white;
  
  
}

.icones_filtres
{
   display: flex;
   align-items: center;
   justify-content: center;
   
  width: 30%;

border-radius: 50px;
width: 50px;
height: 50px;
margin-right: -70px;
background: #DEEBFF;
margin-left: 50px;





color: #0065fc;
}
.filtre_texte
{     
    display: flex;
    align-items: center;
  
   color: black;
   height: 50px;
    width:auto;
    border: 2px solid #f2f2f2;
    padding-left: 60px;
    border-radius: 50px;
   padding-right: 15px;
    margin-left: 20px;
    
}



.info 
{
    display: flex;
    align-items: center;
    
}
.parenticone
{
    display: flex;
    align-items: center;
   
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px 25px 25px 25px;
    margin-right: 5px;
    padding: 2px;
    
}


   
    




 
                                /* Hébergements à Marseille */
.afficher_plus
{
    font-weight: bold;
    margin-left: 45px;
    display: flex;
    align-self: flex-end;
    
   
}
.hebergmars p 
{
    margin-bottom: 5px;
}


.heberg_texte
{
    height: auto;
   margin-top: -10px;
   padding-left: 20px;
   
}
 
.star
{
    color: #0065fc;
   display: inline-block;
   font-size:x-small;

  
}
.hh3
{
    margin-left: 45px;
    width: 50%;
    margin-top: 10px;
    display: inline-block;
    
}
.hebergmars
{
    background-color: #f2f2f2;
    border-radius: 15px;
    width: auto;
    height: auto;
   margin-top:10px;
   margin-right: 15px;
   
   
   
  padding-top: 20px; 
    
  
 
}
.hebergement_contener
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    
    margin: 20px;
    
    
}
.hebergmars img
{
    display: flex;
    justify-content: flex-start;
    border: 2px solid white;
    border-radius: 15px 15px 0px 0px;
    width: 246px;
    height: 100px;
    object-fit: cover;
    align-items: flex-start;
   
   
    
} 


.hebergement_contener article
{
    border-radius: 15px 15px 15px 15px;
    width: 250px;
    height: auto;
    border: 2px solid white;
    background-color: white;
    margin: 10px;
    
    
   
}

                        /*les plus populaires */

.icones_populaires
{
    width: 20Px;
    margin-left: 90px;
}
.les_plus_populaires div
{
   display: inline-block;
}
.texte_populaires 
{
   
    display: inline-block;
        width:50%;
}
.populaires
{
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 30%;
    
   
   margin-top: 10px;
   text-align: left;
  
  
   
   
    
}
.populaire_contener
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
   
    
   
}
.populaires img
{
    border: 2px solid white;
    border-radius: 15px 0px 0px 15px;
    width: 100px;
    height: 123px;
    object-fit: cover;
    margin: 0px 10px 0px 0px ;
    
}
.populaire_contener article
{
    display: flex;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
    width: 380px;
    height: 128px ;
    border: 2px solid white;
    background-color: white;
    margin: 10px;  
}
.block
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.popu
{
    float: left;
}
article p
{
    margin-top: -10px;
    margin-bottom: 5px;
}

                        /* activité à marseille */

h4
{
   margin-left: 50px;
}

h5
{   
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
   
    
    margin: 2px 2px 2px 15px ;
    
}                
.photo_block1 
{
    display: inline-block;
   
  
   
   

}


.block2 div
{

   
    margin: 10px 10px 10px 10px;
    padding: 1px 1px 1px 1px;
   
 
    

    margin: 2px;
    
}                
.block2
{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
   
    justify-content: space-around;
}
.act1 
{
    
    border: 2px solid white;
    border-radius: 15px 15px 0px 0px;
    width: 300px;
    height: 433px;
    
    object-fit: cover;
    
    
}
.act2 
{
   
    border: 2px solid white;
    border-radius: 15px 15px 0px 0px;
    width: 300px;
    height: 200px;
    
    object-fit: cover;
   
}
.act3
{
  
    border: 2px solid white;
    border-radius: 15px 15px 0px 0px;
    width: 300px;
    height: 200px;
    background-color: black ;
    object-fit: cover;
    
}

.act4
{
   
    border: 2px solid white;
    border-radius: 15px 15px 0px 0px;
    width: 300px;
    height: 433px;
    
    object-fit: cover;
   
}
.act5
{
   
    border: 2px solid white;
    border-radius: 15px 15px 0px 0px;
    width: 300px;
    height: 200px;
    background-color: black ;
    object-fit: cover;
    
}
.act6
{
   
    border: 2px solid white;
    border-radius: 15px 15px 0px 0px;
    width: 300px;
    height: 200px;
    background-color: black ;
    object-fit: cover;
  
}


                        /* pied de page*/

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: larger;
    background-color: #f2f2f2;
    
}
footer li
{
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    margin-bottom: 15px;
    text-align: center;
}
footer div
{
   
   margin-top: 20px;
    
}
h6
{
    text-align: center;
    font-size: larger;
    margin: 10px;
}
