                            /* haut de la page */
body
{
    
    max-width:1400px;
   margin-left: 20px;
   margin-right: 20px;
   

}
a
{  width: 30%;
    text-decoration: none;
    color: black;
}
.conteneur_block_hebergements .clic{
    display: flex;
    flex-direction: column;
}

body
{
    font-family : 'Raleway', sans-serif ;
}
#logo
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



#logo img

{

    
    height: 60px;
    }

    h1
    {   font-size: 1.3em;
        margin-bottom: -5px;
    }
                            /* Navigation */



.nav1
{
padding-top: 30px;
text-decoration: none;
color: #0065fc;
}
.nav1:hover
{
    
    border-top: 1px solid #0065fc;
    text-decoration: none;

    
}
nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    font-size: large;
} 
nav li 
{
    margin-top: 30px;
    margin-right: 50px;
} 




                            /* Barre de recherche */



#Rechercher
{
    font-size: 1.2em;
    background-color: blue;
    color: white;
    width: 153px;
    height: 50px;
    border: 1px solid #f2f2f2;
    border-radius: 0px 15px 15px 0px ;
   
}
.barre_de_recherche
{
    margin-top:25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
   align-items: center;
    
}  
label
{
    
    padding: 15px 15px 15px 15px;
    
    background-color: #f2f2f2;
    border-radius: 1em 0 0 1em;
   
}


input 
{
    border: none;
    font-weight: 700;
    font-size: large;
    padding-left: 10px;
}  

::placeholder
{
    margin-left: 5px;
    color: black;
}

                            /* Fitres */
 .conteneur_filtres
{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 1.1em;
}
.filtres div:hover
{
    color:#0065fc;
}

.filtres
{
   display: flex;
   align-items: center;
   flex-direction: row;
   margin-right: 10px;
   background-color: white;
   flex-wrap: wrap;
}
h2
{   font-size: 1.2em;
    margin-right: 10px;
    margin-left: 10px;
}
.icones_filtres
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background: #DEEBFF;
    color: #0065fc;
}
.filtre_texte
{   
    display: flex;  
   align-items: center;
    color: black;
    margin-left: 4px;
}
.cadre_filtre
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #f2f2f2;
    border-radius: 27px 27px 27px 27px;
    margin-right: 30px;
    margin-left: 10px;
    padding-right: 15px;
}

                                    /* Texte plus icone info */

.info 
{
    display: flex;
    align-items: center;
}
.parenticone
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px 25px 25px 25px;
    margin-right: 5px;
    padding: 2px;
    color:#0065fc;
}
                                /* Hébergements à Marseille */

.titre_hebergement
{
    margin-left: 45px;
    width: 50%;
    margin-top: 10px;
    display: inline-block;
    font-size: 1.3em;
}
.conteneur_block
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    
}
.conteneur_block_hebergements
{
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 63%;
    height: auto;
    margin-top:10px;
    margin-right: 10px;
    padding-top: 20px; 
}
.conteneur_block_hebergements p 
{
    margin-bottom: 0px
}
.hebergement_contener img
{
    justify-content: center;
   
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 110px;
    object-fit: cover;
    
} 
.hebergement_contener
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    margin: 20px;
    font-size: 0,5em;
}
.hebergement_contener article
{
   
    border-radius: 15px 15px 15px 15px;
    height: auto;
    border: 3px solid white;
    background-color: white;
    margin: 10px;
}

.heberg_texte
{   
    
    margin-top: -10px;
    padding-left: 20px;
    font-size: 0.9em;
   
}

.star
{
    color: #0065fc;
    
    font-size:x-small;
    margin: 5px 5px 5px 5px;
    padding-bottom: 2px;
  
   
}
 .star_white{
    color: #f2f2f2;
}
.afficher_plus
{
    margin-top: 1px;
    margin-bottom: 40px;
    font-weight: bold;
    margin-left: 50px;
    display: flex;
    align-self: flex-end;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.heberg_texte p
{
    
    margin-top: -15px;
}
                                         /*les plus populaires */


.populaire_contener
{
    margin-top: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
   
}
.icones_populaires
{   
    width: 20px;
   
   
   font-size: x-large;
}
.titre_populaires
{
    flex-direction: row;
    display:flex;
    justify-content: space-between;
    align-items: center;
   width: 80%;
    margin-top: 10px;
    font-size: large;
}
.les_plus_populaires
{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
    margin-top: 20px;
    padding-top: 20px;
   margin: 20px;
   
}
.les_plus_populaires article
{
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: row;
    width: 345px;
    height: 140px;
    border: 3px solid white;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 15px 20px 20px #f2f2f2;
 
}

.les_plus_populaires img
{
   
    border-radius: 15px 0px 0px 15px;
    width: 130px;
    
    object-fit: cover;
   
}
.texte_populaires 
{
    width: 50%;
   margin-left: 15px;
    
}
.texte_populaires p
{
    margin-top: -10px;
    padding-bottom: 10px;
}


    


                        /* activité à marseille */


.conteneur_activites
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
   
    width: 100%;
    padding: 10px 10px 10px 10px ;
}


.cadre 
{  
   
    border: 1px solid #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    box-shadow: 10px 10px 10px #f2f2f2;
    margin-bottom: 30px;
}
.cadre2
{
    border: 1px solid #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
     box-shadow: 5px 5px 5px #f2f2f2;
}


.cadre img
{   
    object-fit: cover;
   
}
h4
{
   margin-left: 20px;
   padding-top: 50px;
   font-size: x-large;
}

h5
{   
    font-size: medium;
    margin: 5px 5px 5px 15px ;
}                

.act1 
{
    border-radius: 15px 15px 0px 0px;
    width: 303px;
    height: 447px;
    object-fit: cover;
}
.act2 
{
    border-radius: 15px 15px 0px 0px;
    width: 300px;
    height:230px;
    object-fit: cover;
    
}
.act3
{
    border-radius: 15px 15px 0px 0px;
    width: 300px;
    height: 150px;
    object-fit: cover;
    
}
.act4
{
    border-radius: 15px 15px 0px 0px;
    width: 300px;
    height: 447px;
    object-fit: cover;
}
.act5
{
    border-radius: 15px 15px 0px 0px;
    width: 300px;
    height: 150px;
   object-fit: cover;
}
.act6
{
    border-radius: 15px 15px 0px 0px;
    width: 300px;
    height: 230px;
   object-fit: cover;
}


                        /* pied de page*/

footer
{
   
    font-size: larger;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
footer ul{
    padding-left: 0px;
}
footer li{
    list-style-type:none;
    margin-bottom: 10px;
}

footer div
{
    margin-right: 150px;
    width: auto;
   
    margin-left: 10px;
}
h4
{
    margin-left: 0px;
    width: 90%;
    font-size: 18px;
   
}

                                /* media queries*/

@media screen and (max-width: 1024px) 
{
    .conteneur_block_hebergements{
        width: 100%;
        justify-content: flex-start;
        margin-right: 0px;
    }
    .hebergement_contener article{
        font-size: 1em;
        justify-content: flex-start;
        }
    .hebergement_contener{
        justify-content: center;
        width: 100%;
        
    }
   .conteneur_block{
       flex-wrap: wrap;
   }
   .les_plus_populaires article{
       align-self: flex-end;
       height: auto;
       width: auto;
       margin-right: 20px;
        
        flex-direction: column;
   }
   .populaire_contener{
       justify-content: center;
       
       justify-content: space-around;
       width: 100%;
       
       
   }
   .les_plus_populaires{
       align-items: flex-start;
       flex-direction: row;
       
       padding-left: 15px;
       padding-right: 15px;
       padding-bottom: 20px;
       margin-top: -10px;
       justify-content: center;
      
   }
   .les_plus_populaires img{
       width: 100%;
       height: 100px;
       border-radius: 15px 15px 0px 0px;
   }
   .texte_populaires{
       width: 80%;
       justify-content: flex-start;
   }
   .texte_populaires p{
       margin-bottom: -10px;
   }

   .clic{
       flex-direction: column;
   }
   .cadre_filtre{
       margin-right: 10px;
   }
       
   .act1 , .act2 , .act3 , .act4 ,.act5 , .act6 {
       width: 450px;
   }
   .conteneur_activites{
       justify-content: space-around;
       margin-right: 20px;
   }
  footer div{
   margin-right: 100px;
  }
  footer{
     
     height: auto;
  } 
}
@media   (max-width: 768px)
{
    #Rechercher{
        width: 130px;
    }
    input{
        width: 180px;
    }
   .conteneur_filtres{
       display: block;
       font-size: 1.0em;
   }
   .cadre_filtre{
       margin-right: 16px;
       margin-left: 0px;
       padding-right: 5px;
   }
   .les_plus_populaires{
       padding-right: 0px;
       padding-left: 0px;
   }
   .texte_populaires{
       width: 100%;
   }
   .conteneur_activites{
      
       padding: 0px;
   }
   .act1, .act2, .act3, .act4, .act5, .act6{
       width: 100%;
       height: 200px;
   }
   .cadre2 , .cadre{
      width: auto;
      height: 250px; 
   }
   article.block_cadre {
    display: contents;
    }
    article.block_cadre2 {
        display: contents;
    }
    footer{
        flex-direction: column;
    padding-left: 20px;
    }

}
